/* HeroSearch private styles */
.search-result li {
  /* border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray; */

  padding: 10px 25px;
  background-color: #292A87;
  cursor: pointer;
  list-style-type: none;
  color: #292A87;
  margin-bottom: 20px;
}

.search-result li:hover {
  background-color: #292A87;
}

.search-result li a {
  color: #f3f3f3;
  display: block;
  text-decoration: none;
}

/* .search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
} */
#search-box {
  width: 100%;
  height: 80%;
  margin-bottom: 10px;
  border: solid 1px #292A87;
  padding: 10px 10px;
}

.al-r
{
  text-align: right;
}

.col-custom
{
  padding: 20px;
  border: solid 1px #292A87
}

.btn-custom
{
  border-radius: 0;
  background-color: #292A87;
  border: none;

  margin-top: 5px;
  margin-bottom: 5px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
